@using Client;
@using GettingStartedLib;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  style="margin-top:80px">COMPUTER DATA</div>

<div id="computers"></div>

@{
    ClientConnection client = ClientConnection.GetInstance();
    client.SetupChannels();
    List<Dictionary<string, string>> computers = new List<Dictionary<string, string>>();
    for (int i = 0; i < client.channels.Count; i++)
    {
        IWcfPingTest channel = client.channels[i];
        string content = client.SaveComputerInfo(i);
        Dictionary<string, string> dict = JsonConvert.DeserializeObject<Dictionary<string, string>>(content);
        computers.Add(dict);
    }

    <ul>
        @foreach (var computer in computers)
        {
            <li>@computer["uptime"]</li>
            <li>@computer["computerName"]</li>
            <li>@computer["osInfo"]</li>
        }
    </ul>
}
@section Scripts {
    <script>
        // LoadComputers();
    </script>
}