@model ClientWebFramework.ViewModels.ComputerViewModels

@{
    ViewBag.Title = "Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  style="margin-top:80px">COMPUTER DATA</div>

<ul>
    @foreach (var computer in ViewBag.Computers)
    {
        <li>@computer.Value.uptime</li>
        <li>@computer.Value.computerName</li>
        <li>@computer.Value.osInfo</li>
    <p></p>
    }
</ul>
    
