@{
    ViewBag.Title = "Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  style="margin-top:80px">COMPUTER DATA</div>

<div id="computers"></div>
<div id="proccesses"></div>

@section Scripts {
    <script>
        LoadComputers();
        LoadProcesses();
        window.setInterval(function () { LoadProcesses(); }, 10000);
    </script>
}