@{
    ViewBag.Title = "Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  style="margin-top:80px">COMPUTER DATA</div>

<div id="computers"></div>

<div style="margin-top:80px">PROCESSES</div>

<div id="proccesses">P</div>

@section Scripts {
    <script>
        LoadComputers();
        window.setInterval(function () { LoadComputers(); }, 10000);
    </script>
    <script>
        LoadProcesses();
        window.setInterval(function () { LoadProcesses(); }, 10000);
    </script>
}