@{
    ViewBag.Title = "Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  style="margin-top:80px">COMPUTER DATA</div>

<div id="computers"></div>

@section Scripts {
    <script>
        LoadComputers();
        window.setInterval(function () { RefreshComputerData(); }, 5000);
        window.setInterval(function () { LoadComputers(); }, 5000);
    </script>
}