ASDSDFSGGSDGSDFDGSFDS

<ul>
    @foreach (var computer in ViewBag.Computers)
    {
        <li>@computer.uptime</li>
        <li>@computer.computerName</li>
        <li>@computer.osInfo</li>
    }
</ul>

