@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 20px; background-color: #d2c3c9; z-index: 1;">
    <div class="slider">
        <div class="slider-item">C</div>
        <div class="slider-item">O</div>
        <div class="slider-item">-</div>
        <div class="slider-item">P</div>
        <div class="slider-item">O</div>
        <div class="slider-item">!</div>
    </div>
</div>
<div class="line-breaker"></div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            <div class="content-tab">
                <div class="col-sm-4">
                    <div class="custom-box">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="custom-box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas nec orci nec volutpat. Aenean porttitor ipsum ac est suscipit cursus. Integer ornare sapien ut leo tincidunt iaculis. Vivamus vehicula nibh quis justo lacinia convallis. Curabitur quam ante, iaculis ut gravida sit amet, imperdiet id sem. Suspendisse non lacus sed risus rhoncus convallis vitae id diam. Duis quis eleifend sapien.

                            Pellentesque pellentesque nunc quam, vel facilisis erat eleifend ut. Etiam eleifend sem vitae elit tincidunt dictum. Integer tincidunt lorem vitae cursus hendrerit. Proin semper eros felis, sit amet tempus mi suscipit vel. Sed viverra ligula nunc, nec ultrices nulla hendrerit ac. Nulla mattis nisl vel luctus luctus. Proin ac consequat justo, nec blandit turpis. Sed dignissim purus libero, ac fringilla felis rutrum id. Nam accumsan nunc id quam aliquam ultrices. Nam a ligula eget odio ullamcorper dignissim. Phasellus vulputate tristique purus, vel pharetra lorem tempor ut. Integer lacinia est a erat consequat imperdiet. Nam dignissim pretium pulvinar. Curabitur semper aliquam nulla, id bibendum est dapibus ac. Mauris molestie, purus quis feugiat malesuada, mi arcu faucibus arcu, vel feugiat felis nisl et quam.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>