@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 30px;">
    <div class="slider">

        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
    </div>
</div>
