@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron" style="margin-top: 150px;">
        <div id="content">
            <a href="#" class="prev">&nbsp;</a> <a href="#" class="next">&nbsp;</a>
            <div id="slider">
                <ul>
                    <li>
                        <a href="#"><img src="assets/images/example-1.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 1</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-2.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 2</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-3.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 3</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-4.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 4</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-5.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 5</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-6.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 6</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-7.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 7</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-8.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 8</a> </p>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="assets/images/example-9.jpg" alt="" /></a>
                        <div class="overlay">
                            <p> <a href="#">Lorem Ipsum Dolor 9</a> </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>