@{
    ViewBag.Title = "Home Page";
}

<div class="container row" style="margin-top: 80px;">
    <div class="col-md-12">

        <div class="slider">
            <div><img src="~/Content/images/example-1.jpg" alt="" /> </div>
            <div><img src="~/Content/images/example-2.jpg" alt="" /> </div>
            <div><img src="~/Content/images/example-3.jpg" alt="" /> </div>
            <div><img src="~/Content/images/example-4.jpg" alt="" /> </div>
            <div><img src="~/Content/images/example-5.jpg" alt="" /> </div>
        </div>

        <div class="slider-main"></div>
    </div>
</div>
