@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">

        <div class="slider slider-nav">
            <div><img src="~/Content/img/example-1.jpg"></div>
            <div><img src="~/Content/img/example-2.jpg"></div>
            <div><img src="~/Content/img/example-3.jpg"></div>
            <div><img src="~/Content/img/example-4.jpg"></div>
            <div><img src="~/Content/img/example-5.jpg"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="slider slider-for">
            <div><img src="~/Content/img/example-1.jpg"></div>
            <div><img src="~/Content/img/example-2.jpg"></div>
            <div><img src="~/Content/img/example-3.jpg"></div>
            <div><img src="~/Content/img/example-4.jpg"></div>
            <div><img src="~/Content/img/example-5.jpg"></div>
        </div>
    </div>
</div>
